<form role="form" class="col-md-4 col-xs-12">

	<div class="form-group">

		<label for="date">Date of Fill-up</label>

		<div class="input-group">
			<input type="text" 
				id="date" 
				class="form-control" 
				datepicker-popup="{{format}}" 
				ng-model="tank.date" 
				is-open="opened" 
				max-date="{{initDate}}" 
				datepicker-options="dateOptions" 
				date-disabled="disabled(date, mode)" 
				ng-required="true" 
				close-text="Close" />
			
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="station">Station Name & Location</label>
		<input type="text" class="form-control" id="station" ng-model="tank.station">
	</div>

		<div class="form-group">
		<label for="cost">Cost</label>
		<div class="input-group">
			<span class="input-group-btn">
				<span class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-usd"></i></span>
			</span>
			<input type="text" class="form-control number-input" id="cost" ng-model="tank.cost">
		</div>
	</div>

		<div class="form-group">
		<label for="gallons">Gallons</label>
		<input type="text" class="form-control number-input" id="gallons" ng-model="tank.gallons">
	</div>

	<div class="form-group">
		<label for="comment">Comments</label>
		<textarea class="form-control" id="comment" rows="3" ng-model="tank.comment"></textarea>
	</div>
	
	
	<button type="submit" class="btn btn-default" ng-click="saveTank()">Submit</button>
</form>