<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron main road3">
	<div class="container-wide">
		<h1>{{ tagline }}</h1>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Add Fill Ups</h2>
			<p>View, add, and edit your gas usage..</p>
			<p><a class="btn btn-default" href="/tanks" role="button">Tanks &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Trends</h2>
			<p>See trends on your gas usage, include MPG, station maps, pricing trends</p>
			<p><a class="btn btn-default" href="/trends" role="button">Trends &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Profile</h2>
			<p>Edit your account details</p>
			<p><a class="btn btn-default" href="profile" role="button">Profile &raquo;</a></p>
		</div>
	</div>
</div>