body {
	padding-bottom: 20px;
}

.navbar-static-top {
	background-color: rgba(0,0,0,.5);
	border-bottom: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-inverse .navbar-brand { font-size: 36px; color: #FFF; padding-left: 0px; }

.header-btn { margin-top: 20px; }

.input-group-btn>.btn[disabled] { opacity: 100; }

.number-input { width: 75px; }

.input-group>.number-input { width: 75px;}

.container-wide {	
	padding-left: 80px;
	padding-right: 80px; 
}

.jumbotron.main { 
	padding: 100px 0px 50px 0px; 
	margin-top:-125px; 
	min-height: 300px;
	color: #FFF;
}

.road1 {
	background-image: url("/images/road1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 30%;
}
 .road2 {
 	background-image: url("/images/road2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 45%;
 }

 .road3 {
 	background-image: url("/images/road3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 15%;
 }

 .road4 {
 	background-image: url("/images/road4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 35%;
 }

.jumbotron.main h1 {
	font-size: 50px;
	padding-top: 15px;
}