body {
	padding-top: 125px;
	padding-bottom: 20px;
}

.navbar-fixed-top {
	background-color: rgba(0,0,0,.5);
	border-bottom: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-inverse .navbar-brand { font-size: 36px; color: #FFF; padding-left: 0px; }

.header-btn { margin-top: 20px; }

.input-group-btn>.btn[disabled] { opacity: 100; }

.number-input { width: 75px; }

.input-group>.number-input { width: 75px;}

.container-wide {	
	padding-left: 80px;
	padding-right: 80px; 
}

.jumbotron.main { padding: 100px 0px 50px 0px; margin-top:-75px; }